<script id="WidgID" language="javascript" src="http://web.har.com/widget/getWidgetJS.cfm?id=0F934A21C36B5FBF4B466FF9F7B0B936">
</script>
<div class="row">
  <div class="col-sm-12">
    <div class="contact">
      <div class="jumbotron">
        <h3>Blake Baker</h3>
          <img class="img-fluid rounded" src="../../assets/headshot.JPG" height="320" width="320" alt="Blake Baker">
          <!--<h4>{{name}}</h4>-->
          <p class="card-text">
            RE/MAX 1st Source <br>
            <a style="color: white"
               target="_blank"
              href="https://www.google.com/maps/place/7219+Fairmont+Pkwy,+Pasadena,+TX+77505/@29.6514683,-95.1294023,17z/data=!3m1!4b1!4m5!3m4!1s0x86409f238ed1c601:0x98da3bd448e8a0ca!8m2!3d29.6514683!4d-95.1272136">
              7219 Fairmont Pkwy. Suite 135 Pasadena, Texas 77505
            </a>

          </p>
          Mobile: 832-289-2176
          <br>
          Office 281-991-7500
          <br>
          Fax: 281-991-5151
          <br>
          <a href="mailto:txrealtorblake@yahoo.com?subject=I%20Would%20Like%20To%20Inquire%20About%20A%20New%20Home" class="card-link" style="color: white">txrealtorblake@yahoo.com</a>
          <!--http://www.trec.texas.gov/pdf/contracts/IABS1-0.pdf-->
      </div>
    </div>
  </div>
</div>
