.row {
  height: calc(100% - 64px);
  width: calc(100% + 15px);

}

.col-sm-12 {
  padding-left: 0 !important;
  padding-right: 0 !important;
  height: 100%;
}

.contact {
  color: white;
  padding: 20px 30px;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  background-image: url("../../assets/home-copy.png");
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
}

.jumbotron {
  height: 100%;
  background: rgb(0, 0, 0); /* Fall-back for browsers that don't support rgba */
  background: rgba(0, 0, 0, .6);
  overflow: scroll;
}
