/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

html {
  display: block;
  height: 100%;
  margin: 0 0;
}

body {
  display: block;
  height: 100%;
  margin: 0 0;
  background: rgb(0, 0, 0); /* Fall-back for browsers that don't
                                    support rgba */
  background: rgba(0, 0, 0, .6);
}
