/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css?family=Dosis');
html {
  display: block;
  height: 100%;
  margin: 0 0;
  font-family: 'Dosis', sans-serif !important;
}

body {
  display: block;
  height: 100%;
  margin: 0 0;
  background: rgb(0, 0, 0); /* Fall-back for browsers that don't
                                    support rgba */
  background: rgba(0, 0, 0, .6);
  font-family: 'Dosis', sans-serif !important;
}

.btn {
  border: solid 1px white;
  color: white;
}

.btn:hover {
  color: rgb(0, 0, 0); /* Fall-back for browsers that don't support rgba */
  color: rgba(0, 0, 0, .6);
}

.social-links{
  color: white;
}

