.row {
  height: calc(100% - 64px);
  width: calc(100% + 15px);

}

.col-sm-10 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}


.col-sm-2 {
  background-color: #292b2c;
  background-size: 20px 20px;
  height: 100%;
}
