<div id="realtor-profile-container">
  <div class="card">
    <img class="card-img-top img-fluid rounded" src="../../assets/headshot.JPG" alt="Blake Baker">
    <div class="card-block">
      <h4 class="card-title">{{name}}</h4>
      <p class="card-text">
        RE/MAX 1st Source <br>
        7219 Fairmont Pkwy. Suite 135
        Pasadena, Texas 77505
      </p>
      Mobile: 832-289-2176
      <br>
      Office: 281-991-7500
      <br>
      Fax: 281-991-5151
      <br>
      <i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:txrealtorblake@yahoo.com?subject=I%20Would%20Like%20To%20Inquire%20About%20A%20New%20Home" class="card-link">txrealtorblake@yahoo.com</a>
      <!--http://www.trec.texas.gov/pdf/contracts/IABS1-0.pdf-->
    </div>
  </div>
</div>

