<div id="realtor-profile-container">
  <div class="card">
    <img class="card-img-top" src="../../assets/headshot.JPG" height="300" width="100%" alt="Blake Baker">
    <div class="card-block">
      <h4 class="card-title">{{name}}</h4>
      <p class="card-text">
        Realtor <br>
        RE/MAX 1st Source
      </p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        7219 Fairmont Pkwy. Suite 135
        Pasadena, Texas 77505
      </li>
    </ul>
    <div class="card-block">
      <i class="fa fa-mobile" aria-hidden="true"></i> 832-289-2176
      <br>
      <i class="fa fa-briefcase" aria-hidden="true"></i> 281-991-7500
      <br>
      <i class="fa fa-fax" aria-hidden="true"></i> 281-991-5151
      <br>
      <i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:txrealtorblake@yahoo.com?subject=I%20Would%20Like%20To%20Inquire%20About%20A%20New%20Home" class="card-link">txrealtorblake@yahoo.com</a>
      <!--http://www.trec.texas.gov/pdf/contracts/IABS1-0.pdf-->
    </div>
  </div>
</div>

