<div class="container-fluid">
  <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="#">
        <img src="../assets/headshot.JPG" height="40" width="40" class="rounded-circle">
      </a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <ul class="nav navbar-nav ml-auto mt-lg-0">
        <li class="nav-item nav-social">
          <a class="nav-link" href="https://www.facebook.com/txrealtorblake" target="_blank"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a>
        </li>
        <li class="nav-item nav-social">
          <a class="nav-link" href="https://twitter.com/txrealtorblake" target="_blank"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
        </li>
        <li class="nav-item nav-social">
          <a class="nav-link" href="mailto:txrealtorblake@yahoo.com?subject=I%20Would%20Like%20To%20Inquire%20About%20A%20New%20Home"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i> </a>
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>
