<div class="coming-soon">
  <div class="jumbotron">
    <div class="promise">
      <h4>RE/MAX 1st Source</h4>
      <img class="img-fluid rounded" src="../../assets/headshot.JPG" width="200" alt="Blake Baker">
      <div style="width: 100%">Realtor</div>
      <div style="width: 100%">Blake Baker</div>
      <p class="promise-text">
        <span class="promise-body">
          <span class="promise-title">Knowledge is power.</span>
          Blake Baker was born and raised in Pasadena, TX. He brings his local knowledge and attention to detail to you, so you can have the best experience when buying or selling a home.
          Your experience will consist of his top customer service, quick correspondence, and his unrelenting work ethic. That's his promise to you!
        </span>
      </p>
    </div>
    <div class="media-links">
      <p class="lead">
        <a class="btn btn-lg" routerLink="/contact" role="button">Contact</a>
      </p>
      <p>
        Connect with me on social media!
      </p>
      <a class="social-links" href="https://www.facebook.com/txrealtorblake" target="_blank"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a>
      <a class="social-links" href="https://twitter.com/txrealtorblake" target="_blank"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
    </div>
  </div>
</div>
