.coming-soon {
  color: white;
  padding: 20px 30px;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  background-image: url("../../assets/home-copy.png");
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
}

.jumbotron {
  position: relative;
  height: 100%;
  background: rgb(0, 0, 0); /* Fall-back for browsers that don't support rgba */
  background: rgba(0, 0, 0, .6);
}

.promise {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 150px);
  overflow: scroll;
  margin: auto;
  text-align: center;
  border-left: none;
  padding: 10px;
}

.promise-text {
  padding: calc(5%);
}

.promise-title {
  width: 100%;
  font-size: 25px;
  display: inline-block;
}

.promise-body {
  width: 100%;
  padding: 15px 0;
  font-size: 25px;
  display: inline-block;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  border-bottom-color: rgba(255, 255, 255, 0.6);
  border-top-color: rgba(255, 255, 255, 0.6);
}

.media-links {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-bottom: 10px;
}
