<div class="coming-soon">
  <div class="jumbotron">
    <div class="jumbo-title">
      <h1 class="display-3">RE/MAX 1st Source</h1>
      <p class="lead">Welcome to Blake Baker Realty</p>
      <img class="img-fluid rounded" src="../../assets/headshot.JPG" width="150" alt="Blake Baker">
      <hr class="my-4">
    </div>
    <div class="contact">
      <h2>I am looking forward to finding you a great home!</h2>
      <p class="lead">
        <a class="btn btn-lg" routerLink="/contact" role="button">Contact</a>
      </p>
    </div>


    <div class="media-links">
      <p>
        Connect with me on social media!
      </p>
      <a class="social-links" href="https://www.facebook.com/txrealtorblake" target="_blank"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a>
      <a class="social-links" href="https://twitter.com/txrealtorblake" target="_blank"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
      <a class="social-links" href="mailto:txrealtorblake@yahoo.com?subject=I%20Would%20Like%20To%20Inquire%20About%20A%20New%20Home"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i> </a>
    </div>

  </div>
</div>
